.home-button {
  background: #481696;
    color: #FFFFFF;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    max-width: 120px;
    max-height: 48px;
    overflow: hidden;
}
.home-button:hover{
  background-color: #8F85B8;
}